.user-account__container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40%;
    padding-left: 1.8rem;
    padding-right: 1.8rem;            
    margin-top: 110px;
    max-width: 137.9rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.user-account {
    max-width: 1350px;
    width: 80%;
    margin-left: 150px;
    margin-right: 150px; 
}


.account-form h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Arsenal';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.account-form {
    position: relative;

    display: flex; 
    width: 100%;
    height: 100%;
    padding-bottom: 260px;

    border-radius: 30px;       
    background: url(../img/icons/form-flowers-top.svg), url(../img/icons/form-flowers-bottom.svg), linear-gradient(180deg, #7775B6 0%, #494694 69.79%);      
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position-y: top, bottom;    
    box-shadow: 0px 0px 20px 8px #FFF;

    flex-direction: column;
    align-items: center; 
}

.user__data {
    display: flex;
    width: 50vw;
    margin-top: 25px;
    margin-bottom: 32px;

    flex-direction: column;
}

.data-item {
    position: relative;

    height: 3.2vw;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 16px; 
    box-sizing: border-box;

    font-size: 18px;
    font-weight: 200;

    border-radius: 50px;
    background: rgba(255, 255, 255, 0.50);
    color: #463E57;    
}

.data-item::after {
    box-sizing: border-box;
    position: absolute;
    content: url(../img/icons/locked.svg);
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
}

.code__input--group {
        position: relative;   
        
        display: flex;
        width: 50vw;
        margin-bottom: 50px;
        
        text-align: center;
        font-family: 'Arsenal';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        
        color: #FFF;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}

.code__input--account--wrap {
    position: relative;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    z-index: 1;
}

.code__input--account--wrap .code__submit {    
    position: relative;
    height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border: none;
    color: #FFF;
    font-family: 'Arsenal';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #7775B6 0%, #494694 69.79%);  
    
}

.code__input--account--wrap .code__submit::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: 50px;
    background: linear-gradient(180deg, #00BD8D 32.29%, #00392D 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.27)); 
}

.code__add {
    box-sizing:border-box;
    position: relative;
    width: 80px;
    height: 56px;
    /* margin-left: 22px; */    
    border-radius: 50px;
    border: none;
    color: #FFF;
    font-family: 'Arsenal';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    background: linear-gradient(180deg, #7775B6 0%, #494694 69.79%);    
    box-shadow: none;
    transition: box-shadow 0.3s ease;     
}

.code__add:hover {
    box-shadow: 0px 0px 15px 5px #FFF;
    transition: box-shadow 0.3s ease;  
}

.code__add::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: 50px;
    background: linear-gradient(180deg, #00BD8D 32.29%, #00392D 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.27)); 
    padding-bottom: 15px;    
}

.code__add img{
    margin-bottom: 20px;
}

.code__input__field {      
        width: 100%;
        height: 60px;
        padding-left: 16px;        
        background: none;
        outline: none;
        border: none;
        color: #463E57;
        font-family: 'Arsenal';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        
}



.code__input__field--account {
    transform: translateY(58px);
    width: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.50);  
    order: 1;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}


.code__input__field--account:hover{
    box-shadow: 0px 0px 20px 8px #FFF;
    transition: box-shadow 0.3s ease;
}


.code__input--account--wrap .code__submit {
    font-size: 1.46vw;
    max-width: 300px;    
    margin-left: 16.88vw;
    order: 2;
}

.code__counter {
    width: 100%;
    font-family: 'Arsenal';
    font-size: 20px;
    margin-top: 10px;
    order: 6;
}

.code__input--account--wrap .file-upload__group {
    margin-top: 50px;
    order: 8;
}

.code__add {
    order: 3;
}

.reg-label--code {
    padding-left: 20px;
    padding-bottom: 3px;
    color: #FFF;
    font-family: 'Arsenal';
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;

}

.reg-label--code {
    margin-top: 25px;
    width: 100%;
    order: 4;
}

.code__counter--wrap {
    width: 100%;
    margin-top: 15px;
    order: 5;
}

.code__count {
    font-family: 'Arsenal';
    font-weight: 700;
    font-size: 24px;
}

.code__slider {
    display: none;
    justify-content: space-between;
    width: 100%;
    margin-top: 45px;
    height: 60px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.50);
    order: 4;
}

.code__sleder--display {
    display: flex;
    align-items: center;
}

.code__slider .carousel-inner { 
    padding: 18px;
}

.code__slider .carousel-item {
    color: #463E57;  
    line-height: 125%; 

}

.code__slider .carousel-item span{
    font-weight: bold;
}


.carousel-control-prev {
    left: 0;
}

.carousel-control-prev {
    right: 0;
}

.code__carousel-prev, .code__carousel-next {
    height: 100%;
    border: none;
}

.code__carousel-prev {   
    transform: translateX(-25px);
    width: 12px;
    background: none;   
    background-image: url(../img/icons/code-slider-left.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .code__carousel-next {    
    transform: translateX(25px);
    width: 12px;
    background: none;
    background-image: url(../img/icons/code-slider-right.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    box-sizing: border-box;
        border-color: #FFF;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 4px;        
        filter: drop-shadow(1px 2px 3px rgba(255, 255, 255, 0.856));        
    
  }


.file-upload__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center; 
    z-index: 0;
}

.account__file-result {
    display: none;
    margin-bottom: 10px;
}

.account__file_invalid {
    color: #FFC0C0;
}

.account__file-result_active {
    display: block;
}

.file-upload__group span {
    color: #FFF;
}

.file-upload__group span:last-child {
    margin-top: 15px;
}

.file-upload__label {    
    position: relative;
    text-align: center;
    border-radius: 50px;
    background-color: #8B89BD; 
    color: white;
    cursor: pointer;
    width: 325px;
    height: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 20px;
    color: #FFF;
    font-family: 'Arsenal';
    font-size: 28px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;    
    border: none;
    box-shadow: 0px 0px 20px 8px rgba(255, 255, 255, 0);
    transition: box-shadow 0.3s ease;  
    border-radius: 50px;
    box-sizing: border-box;
}

.file-upload__label::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: 50px;
    background: linear-gradient(180deg, #00BD8D 32.29%, #00392D 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.27));       
    
}

.file-upload__label:hover{
        box-shadow: 0px 0px 20px 8px #FFF;
        transition: box-shadow 0.3s ease;  
    }
   
    .reg-label--check {
        margin-top: 23px;
        order: 1;
    }

/* Коды */

.code__group {
    width: 50vw;
}

.code__container {
    position: relative;

    display: flex;
    width: 44.48vw;
    height: 348px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 25px;
    padding-bottom: 15px;   
    
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.50);
    color: #FFF;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



/* МОЕ БЛОК ВЫВОДА ВСЕХ ЗАРЕГЕСТРИРОВАННЫХ КОДОВ */

.code__list {
    display: flex;
    width: 100%;
    padding-left: 0 !important;

    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.code__item {
    display: flex;
    width: 47%;
    height: 40px;
    padding-left: 6.5px;
    padding-right: 6.5px;
    
    border-bottom: 0.5px solid #fff;

    justify-content: space-between;
    align-items: flex-end;
}

.code__item_win {
    border-bottom: 0.5px solid #FFF65A;
}

.account__wr-code-and-win {
    display: flex;
    gap: 0.1vw;
}

.code__value, .code__date {    
    font-family: 'Arsenal';
    font-size: 1.03vw;
    font-style: normal;
    font-weight: 200;
    line-height: 125%;
    color: #FFF;
}

.account__wr-value-code {
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
}

.account__code-win-text_mobile {
    display: none;

    font-family: 'Arsenal';
    font-size: 2.83vw;
    font-weight: 400;

    color: #FFF65A;
}

.account__wr-text-icon-win {
    display: flex;
    gap: 0.2vw;

    align-items: center;
}

.account__icon-win {
    height: 1.41vw;
    width: 1.41vw;
}

.account__icon-win_main {
    background: no-repeat url(../img/icons/account-icon-main.png);
    background-position: center;
    background-size: 100%;
}

.account__icon-win_tea {
    background: no-repeat url(../img/icons/account-icon-tea.png);
    background-position: center;
    background-size: 100%;
}

.account__code-win-text_desctop {
    font-family: 'Arsenal';
    font-size: 0.73vw;
    font-weight: 400;

    color: #FFF65A;
}

.account__codeHide {
    display: none;
}



.account__wr-pag-code {
    display: flex;

    justify-content: center;
}

.account__pag-num {
    display: flex;

    justify-content: center;
}

.account__wr-code-pag-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.account__code-pag-item {
    display: flex;
    width: 1.7vw;

    font-family: 'Arsenal';
    font-size: 1.25vw;
    font-weight: 700;

    color: #fff;
    list-style-type: none;
    justify-content: center;
}

.account__code-pag-num-page {
    cursor: pointer;
}

.account__code-pag-num-page_active {
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.7)) drop-shadow(-1px -1px 3px rgba(255, 255, 255, 0.7));
}

.account__pag-code-arrow {
    align-items: center;
    cursor: pointer;
}

.account__pag-code_prev {
    display: none;
}

.account__pag-code_next {
    display: none;
}

.account__pag-code-arrow_active {
    display: flex;
}









/* .code__pagination {
    display: flex;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.code__pagination a{
    width: 20px;
    height: 20px;    
    color: #FFF;
    font-family: 'Arsenal';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    background: none;
} */

/* Слайдер */

.slider__section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.check__slider-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 225px;
    margin-top: 60px;
}

.check__slider-container .swiper-slide {
    padding: 15px; 
    /* width: 205px !important; */
    /* margin-right: 0 !important; */
    text-align: center;
    font-size: 18px;    
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .check__slider-container .swiper {    
    width: 100%;
    /* margin-left: 35px;
    margin-right: 35px;     */
  }

.slider__check-image {    
    height: 223px;
    width: 223px;
    /* height: 200px;
    width: 200px; */
    object-fit: cover;    
    border-radius: 30px;   
    border: 2px solid rgb(5, 87, 65);    
    background: linear-gradient(180deg, #00BD8D 32.29%, #00392D 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.27));  
}

.slide__check {
    overflow: hidden;
    border-radius: 30px;   
    
}

.slider__check-box {
    /* background: #fff; */
    border-radius: 30px;   
    box-shadow: 4px 4px 10px 1px #14141444;
}


.check__pagination {
width: 100%;
text-align: center;
}

.pagination-next--check, .pagination-prev--check {
    cursor: pointer;
    filter: none;
    -webkit-filter: none;
    transition: filter 0.3s ease;     
}

.pagination-next--check:hover {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.7));
    -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    transition: filter 0.3s ease; 
}

.pagination-prev--check:hover {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.7));
    -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    transition: filter 0.3s ease; 
}



.pagination-button {
    filter: none;
    -webkit-filter: none;
    transition: filter 0.3s ease; 
}

.pagination-button:hover {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.7));
    -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    transition: filter 0.3s ease; 
}

.swiper-pagination-bullets {
    width: max-content !important;
}

.swiper-pagination-bullet, .pagination-prev, .pagination-next {        
        text-align: center;
        width: 30px;
        height: 30px;        
        color: #FFF;
        font-family: 'Arsenal';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        background: none;
        opacity: 1;
    }    
    
    .swiper-pagination-bullet-active {
        filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.7));
        -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    }

    .pagination__container {
        margin-top: 25px;
        display: flex;
        justify-content: center;        
    }


    /* .main-pagination {
        position: relative;
        padding: 1rem 0rem 3rem;
        min-height: calc(100vh - 4rem);
      } */
      
      h1 {
        margin-top: 0;
      }
      
      .hidden {
        display: none;
      }
      
      .pagination-container {
        width: 100%;
        display: flex;
        align-items: center;
        /* position: absolute;
        bottom: -55px;         */
        justify-content: center;
      }
      
          .pagination-number,
          .pagination-button {
              background-color: transparent;
              border: none;
              margin: 0.25rem 0.25rem;
              cursor: pointer;
              border-radius: .2rem;
              width: 30px;
              height: 30px;
              color: #FFF;
              font-family: 'Arsenal';
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%;
              text-decoration: none;
              background: none;    

              text-align: end;
          }
      
      
      .pagination-number.active {
        color: #fff;
        background: #0086b600;
        filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.856));      
      } 

      .wr-exit {
        display: flex;
        margin-top: 50px;

        justify-content: flex-end;
        align-self: flex-end;
      }

      .wr-button-exit {
        display: flex;
        width: 128px;
        height: 60px;
        margin-right: 53px;

        background: linear-gradient(180deg, #00BD8D 32.29%, #00392D 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.27));
        border-radius: 50px;

        justify-content: center;
        align-items: center;
      }

      .log-out__button {
        /* position: absolute;    
        top: 30px;
        right: 30px; */

        width: 124px;
        height: 56px;
        padding: 0;
        box-sizing: border-box;

        font-family: 'Arsenal';
        font-size: 28px;

        /* border: 0; */
        border-radius: 50px;
        background-color: #8B89BD;
        color: #FFF;
        background-clip: padding-box; /* !importanté */
        border: solid 2px transparent; /* !importanté */

        /* filter: none;
        -webkit-filter: none; */
        transition: filter 0.3s ease; 
     }
    
     /* .log-out__button::after {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: linear-gradient(180deg, #00BD8D 32.29%, #00392D 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.27));
        border-radius: 50px;
        
        z-index: -1;
     } */
     
      
      .log-out__button:hover {
        filter: drop-shadow(4px 4px 5px rgba(255, 255, 255, 0.7)) drop-shadow(-4px -4px 5px rgba(255, 255, 255, 0.7));
        /* -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255)); */
        /* transition: filter 0.3s ease;  */
        z-index: 10000;
      }
      

    
    @media (max-width: 1710px) {
        .code__input--account--wrap .code__submit {
            margin-left: 45%;
        }        
    }

    @media (max-width: 1500px) {
        .code__input--account--wrap .code__submit {
            margin-left: 45%;
        }        


        
        .user-account__container {
            margin-left: auto;
            margin-right: auto;
            margin-top: 35px;
            margin-bottom: 400px;
            padding-left: 34px;
            padding-right: 34px;            
            margin-top: 35px;
            max-width: 137.9rem;
        }

        .code__input--account--wrap {
            width: 90%;
        }

    }

    @media (max-width: 1366px) {
        .code__input--account--wrap .code__submit {
            margin-left: 45%;
        }
    }


    @media (max-width: 1280px) {
        .code__input--account--wrap .code__submit {
            margin-left: 40%;
        }
    }


    @media (max-width: 1200px) {

        .header__button .header__button--white {
            font-size: clamp(1vw, 1.75rem, 1.45vw); 
        }
        
     
        .account-form h1 {
            font-size: 24px;
        }
    
        .user-account {
            width: 100%;
            margin-top: 35px;
            margin-left: auto;
            margin-right: auto;
        }
    


        .data-item {
            height: 50px;
            padding-left: 33px;
            padding-top: 14px;
            padding-bottom: 14px;
            font-size: 16px;
        }

        .file-upload__label {
            display: flex;
            width: 100%;
            height: 50px;  
            margin-top: 0px;
            justify-content: center;
            align-items: center;      
            font-size: 16px;
        }

        .slider__check-image {    
            width: 84px;
            height: 135px;        
            object-fit: cover;    
            border-radius:20px;   
        }
   
        .slider__check-box {
            border-radius: 20px;
            /* box-shadow: 0px 0px 0px 0px rgba(23, 56, 59, 0.10), -3px 3px 10px 0px rgba(23, 56, 59, 0.10), -13px 14px 19px 0px rgba(23, 56, 59, 0.09), -30px 31px 26px 0px rgba(23, 56, 59, 0.05), -53px 55px 30px 0px rgba(23, 56, 59, 0.01), -82px 86px 33px 0px rgba(23, 56, 59, 0.00); */
        }
    
        .slider__group h1{
            font-size: 24px;
        }



.reg-label {
    padding-left: 0;
    font-size: 12px;
    font-style: normal;    
}

.reg-label--code {
padding-left: 0 !important;
text-align: left;
text-transform: inherit !important;
}

.code__slider {
    position: relative;
    margin-top: 15px;
    justify-content: center;
}

.code__carousel-prev, .code__carousel-next {
   position: absolute; 
   height: 100%;  
   top: 0px;  
   z-index: 10; 
}

.code__carousel-prev {
    left: 45px;
}
 
.code__carousel-next {
    right: 45px;
}

.code__input__field--account {    
    order: 1;    
}

.code__input--account--wrap {
    margin-top: -30px;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.code__input--account--wrap .code__submit {
    width: 100%;
    max-width: none;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    order: 6;
    background: #8B89BD;
}

.code__count {
    font-weight: 200;
    font-size: 12px;
}

.code__add {
    order: 2;    
}

.code__counter--wrap {
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
}

.reg-label--code {
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
    order: 5;
}

.file-upload__group {
    text-align: left;
}

.file-upload__group span {
    width: 100%;
    font-size: 12px;
    text-align: left;
}





.breadcrumbs__container {
    display: none;
}

.header__logo {
    display: none;
}

.slider-button-prev, .slider-button-next {
    width: unset;
    padding-bottom: 40px;
}
}
        

@media (max-width: 992px) {
    /* .log-out__button {
        bottom: 10px;
        left: 0;
        right: 0;
        font-size: 18px;
    } */

    .reg-label--code {
        font-size: 12px;
    }

    .user-account {
        margin-top: 45px;
    }

    .code__container {
        margin-bottom: 14px;
    }

    .code__list {
        flex-direction: column;
    }

    .code__item {
        width: 100%;
        height: 10.67vw;
    }

    .code__value,
     .code__date {
        margin-bottom: 1.7vw;
    }

    .account__code-win-text_mobile {
        display: block;
    }

    .account__icon-win {
        width: 9vw;
        height: 9vw;
    }

    .account__wr-text-icon-win,
    .account__wr-text-icon-tea {
        align-items: flex-end;
    }

    .account__code-win-text_desctop {
        display: none;
    }

    

    .slider__group {
        margin-top: 30px;
    }
}

@media (max-width: 540px) {

    .user-account {
        margin-top: 85px;
    }

    .user-account__container {
        margin-top: 0px;
    }

    .account-form  {
        padding-top: 68px;
        padding-bottom: 128px;
        background: url(../img/icons/form-flowers-top-mobile.svg), url(../img/icons/form-flowers-bottom-mobile.svg), linear-gradient(180deg, #7775B6 0%, #494694 69.79%);
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        background-position-y: top, bottom;    
    }


    .wr-exit {
        display: none;
    }

    .user__data {
        width: 74vw;
    }

    

    .code__input--group {
        width: 74vw;
    }

    .code__group {
        width: 74vw;
    }

    .code__container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .code__value, .code__date {
        font-size: 14px;        
    }

    .pagination-number {
        text-align: center;
        font-size: 20px;
    }


    .code__add {
        width: 62px;
        height: 46px;
    }

    .code__input__field {
        height: 50px;
    }

    .code__add img {
        margin-bottom: 25px;
    }


    .code__input__field--account {
        transform: translateY(48px);
        z-index: -1;
    }

    .code__text {
        font-size: 16px;
    }
/* 

    .codeSlider .swiper-slide {
        width: 200px;
    } */

    /* .swiper-slide--width {
        width: 210px !important;
    } */


    .code__input--account--wrap .code__submit {
        width: 88%;
        height: 50px;
        align-self: center;
    }

    .code__input--account--wrap .file-upload__group {
        margin-top: 20px;
    }


    .pagination-numbers {
        text-align: center;
    }

    .pagination-prev {
        margin-left: 0;
    }

    .pagination-button {
        margin-right: 10px;
    }

    .swiper-pagination-bullet, .pagination-prev, .pagination-next  {
        display: flex;
        margin: auto;

        text-align: center;

        justify-content: center;
    }

    .swiper-pagination-bullet {
        font-size: 20px;
    }

    .swiper-pagination-bullets {
        display: block;
    }

    .check__slider-container {
        height: unset;
    }

    .slider-button-prev, .slider-button-next {
        padding-bottom: unset;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        text-align: center;
    }

}


